{{ template "head" }}

<body>
    {{ template "header" .User }}

    <main>
        Task: {{ .Task }}
        Task name: {{ .Task.Name }}
        {{ if eq .Task.ID -1 }}
        <h2>New Task</h2>
        {{ else }}
        <h2>Edit Task</h2>
        {{ end }}
        {{ if eq .Task.ID -1 }}
        <form action="/tasks/" method="POST">
            {{ else }}
            <form action="/task/{{ .Task.ID }}" method="POST">
                {{ end }}
                <input type="hidden" name="id" value="{{ .Task.ID }}" />
                <input type="text" name="name" aria-label="Name" value="{{ .Task.Name }}" />
                <button type="submit">Save</button>
            </form>
    </main>
</body>